#app {
  max-width: 1280px;
  margin: 0 auto; /* Center the content */
  display: flex;
  place-content: center;
  padding: 2rem;
  /* recommend me a good color for background */
  background-color: #f2f2f2;
}
